<div>
  <h2 id="page-heading" data-cy="AlbumHeading">
    <span jhiTranslate="entrainementJhipsterApp.album.home.title">Albums</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="entrainementJhipsterApp.album.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-album"
        [routerLink]="['/album/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="entrainementJhipsterApp.album.home.createLabel">Créer un nouveau Album</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (albums?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="entrainementJhipsterApp.album.home.notFound">Aucun Album trouvé</span>
    </div>
  }

  @if (albums && albums.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="entrainementJhipsterApp.album.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="artist.name">
              <div class="d-flex">
                <span jhiTranslate="entrainementJhipsterApp.album.artist">Artist</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="genre.name">
              <div class="d-flex">
                <span jhiTranslate="entrainementJhipsterApp.album.genre">Genre</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (album of albums; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/album', album.id, 'view']">{{ album.id }}</a>
              </td>
              <td>{{ album.name }}</td>
              <td>
                @if (album.artist) {
                  <div>
                    <a [routerLink]="['/artist', album.artist.id, 'view']">{{ album.artist.name }}</a>
                  </div>
                }
              </td>
              <td>
                @if (album.genre) {
                  <div>
                    <a [routerLink]="['/genre', album.genre.id, 'view']">{{ album.genre.name }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/album', album.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/album', album.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(album)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (albums && albums.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
